* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	font-family: 'Inconsolata', monospace;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
	background: #020100;
}
.container {border-radius: 50px;
  border: 10px solid rgb(0, 240, 0);
   
  width: 200px;
  height: 150px;
  
  text-align:center;
  padding-top:100px
}
	
}
.blink-colon {
	animation: blink 1s infinite linear;
}
.time {
	font-size: 2em;
	color:rgb(0, 240, 0);
}

@keyframes blink {
	0%, 100% {
		opacity: 1;
	}
	30% {
		opacity: 0.4;
	}
}
.date-container {
	margin-top: 6px;
	font-size: 24px;
	color: rgba(255,255,255,0.8)
}
